<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>登录界面</title>
</head>
<body>
	<div style="display: table; margin: 0 auto;">
		<p>You input email is: {email}</p>
		<p>You input password is: {password}</p>
	</div>
	<form action="./login" method="post">
		<table align="center">
			<tr>
				<td>Email</td>
				<td>
					<input type="input" name="email">
				</td>
			</tr>
			<tr>
				<td>Password</td>
				<td>
					<input type="password" name="password">
				</td>
			</tr>
			<tr>
				<td align="center">
					<input type="submit" value="Submit">
				</td>
			</tr>
		</table>
	</form>
</body>
</html>